---
import Title from "@components/shared/Title.astro";
import MainLayout from "src/layouts/MainLayout.astro";


---

<MainLayout title="Favorites" description="Your favorite Pokémon list">
    <Title>Favoritos</Title>
    <p class="mb-4">Here you can find your favorite Pokémon.</p>
    <ul class="list-disc pl-5">
        <li>Favorite Pokémon 1</li>
        <li>Favorite Pokémon 2</li>
        <li>Favorite Pokémon 3</li>
    </ul>
</MainLayout>